<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bard</title>
</head>
<body>
  <h1>hello {{ name }}</h1>
  <script>
    window.app = {
      user: {{ json user }},
    }
  </script>
  <div id="app"></div>
  <script src="https://cdn.jsdelivr.net/npm/cos-js-sdk-v5/dist/cos-js-sdk-v5.min.js"></script>
  <script src="/public/index.js"></script>
</body>
</html>
